{% macro observation_display(observation, state) %}
	<div class="col-xs-10 col-sm-11 observation-row" href="#admin_obs-modal" data-toggle="modal" data-state="{{ state }}" data-url="{{ path('obs_details', {id: observation.id}) }}" data-validate="{{ path('admin_obs_validate', {id: observation.id}) }}" data-await="{{ path('admin_obs_await', {id: observation.id}) }}" data-refuse="{{ path('admin_obs_refuse', {id: observation.id}) }}">
		<div class="col-xs-10">
			<em>{% if observation.bird.nomVern is not empty %}({{ observation.bird.nomVern }}) {% endif %}{{ observation.bird.lbNom }}</em>
			<br />
			Observé le {{ observation.date|date("d/m/Y") }}
		</div>

		<div class="hidden-xs col-sm-1 text-center">
			{% if observation.image is not empty %}
				{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-photo-icon.png' %}
					<img src="{{ asset_url }}" alt="{{ 'core.profile.observations.content.img_icon'|trans }}" />
				{% endimage %}
			{% endif %}
		</div>
	</div>

	<div class="col-xs-2 col-sm-1 text-center">
		 <button class="btn btn-danger btn-sm" href="#admin_delete-modal" data-toggle="modal" data-url="{{ path('admin_obs_delete', {id: observation.id}) }}" title="{{ 'core.admin.delete.title'|trans }}">
            <span class="glyphicon glyphicon-remove" data-url="{{ path('admin_obs_delete', {id: observation.id}) }}"></span>
        </button>
	</div>
{% endmacro %}
