{% macro user_display(user) %}
	<div class="col-xs-12 user-row">
    	<div class="col-xxs-12 col-xs-8" id="user_name-row">
            {{ user.firstName|capitalize }} {{ user.surname|capitalize }}
   		</div>

   		<div class="col-xxs-12 col-xs-4 user_button-row">
   			<button class="btn btn-warning btn-sm" href="#admin_user-edit-modal" data-toggle="modal" data-url="{{ path('admin_user_edit', {id: user.id}) }}" title="{{ 'core.admin.edit.title'|trans }}">
                <span class="glyphicon glyphicon-pencil" data-url="{{ path('admin_user_edit', {id: user.id}) }}"></span>
            </button>

            <button class="btn btn-danger btn-sm" href="#admin_user-delete-modal" data-toggle="modal" data-url="{{ path('admin_user_delete', {id: user.id}) }}" title="{{ 'core.admin.delete.title'|trans }}">
                <span class="glyphicon glyphicon-remove" data-url="{{ path('admin_user_delete', {id: user.id}) }}"></span>
            </button>
   		</div>
	</div>
{% endmacro %}
