<div class="row">
	<div class="col-xs-12 col-sm-4 bold">
		{{ 'core.profile.infos.content.surname'|trans }}
	</div>
	<div class="col-xs-12 col-sm-4">
		{{ user.surname }}
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-4 bold">
		{{ 'core.profile.infos.content.firstname'|trans }}
	</div>
	<div class="col-xs-12 col-sm-4">
		{{ user.firstName }}
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-sm-8 no-padding">
    	<div class="col-xs-12 col-sm-6 bold">
    		{{ 'core.profile.infos.content.email'|trans }}
    	</div>
    	<div class="col-xs-12 col-sm-6">
    		{{ user.email }}
    	</div>
	</div>
	<div class="col-xs-2 col-sm-4">
		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-edit.png' %}
			<img src="{{ asset_url }}" title="{{ 'core.profile.infos.content.edit'|trans }}" alt="{{ 'core.profile.infos.content.edit'|trans }}" data-url="{{ path('fos_user_profile_edit') }}" id="profile_email-link" data-toggle="modal" href="#profile_infos-edit-modal" />
		{% endimage %}
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-sm-8 no-padding">
    	<div class="col-xs-12 col-sm-6 bold">
    		{{ 'core.profile.infos.content.password'|trans }}
    	</div>
    	<div class="col-xs-12 col-sm-6">
    		*********
    	</div>
	</div>
	<div class="col-xs-2 col-sm-4">
		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-edit.png' %}
			<img src="{{ asset_url }}" title="{{ 'core.profile.infos.content.edit'|trans }}" alt="{{ 'core.profile.infos.content.edit'|trans }}" data-url="{{ path('fos_user_change_password') }}" id="profile_pass-link" data-toggle="modal" href="#profile_infos-edit-modal" />
		{% endimage %}
	</div>
</div>

{% include "@FOSUser/Profile/modals/infos-modal.html.twig" %}
