<div class="col-xs-12 profile-block-header">
	{{ 'core.profile.infos.header'|trans|upper }}
</div>
<div class="profile-block-content" id="profile_infos-content">
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="col-xs-12 alert alert-danger">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="col-xs-12 alert alert-success">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<div class="row" id="profile_infos-content-title">
		<h3>
			{{ 'core.profile.infos.content.title'|trans|upper }}

    		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/separator-angle.png' %}
				<img src="{{ asset_url }}" alt="{{ 'core.site.alt_img'|trans }}" class="pull-right" />
			{% endimage %}
		</h3>
	</div>

	<div class="fos_user_user_show row" id="profile_infos-content-infos">
    	{% include '@FOSUser/Profile/blocks/infos/infos.content.html.twig' %}
	</div>
</div>
