{% extends 'layout.html.twig' %}
{% set adminPage = true %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, ?scssphp'
        'bundles/app/css/admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	<div class="col-xs-12 nao_title">
		<div class="col-xs-10 col-sm-6">
			<h1>{{ 'core.admin.title'|trans|upper }}</h1>
		</div>

		<div class="hidden-xs col-sm-2 nao_title-icon">
		{% image 'http://fhuszti.com.s3.amazonaws.com/nao/second-menu/profile.png' %}
				<img src="{{ asset_url }}" alt="{{ 'core.admin.title'|trans }}" />
			{% endimage %}
		</div>
	</div>

	<div class="col-xs-12" id="admin_content">
		<ul class="nav nav-pills nav-justified hidden">
	      	<li class="active">
	      		<a href="#observations" data-toggle="tab">{{ 'core.admin.observations'|trans }}</a>
	      	</li>

	      	<li>
	      		<a href="#users" data-toggle="tab">{{ 'core.admin.users'|trans }}</a>
	      	</li>
	  	</ul>
	  	
	  	<div class="tab-content hidden">
	      	{% for flashMessage in app.session.flashbag.get('error') %}
			    <div class="col-xs-12 alert alert-danger">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('success') %}
			    <div class="col-xs-12 alert alert-success">
			        {{ flashMessage }}
			    </div>
			{% endfor %}

			<div class="tab-pane active" id="observations">
	      		{% include 'admin/blocks/observations/observations.html.twig' %}
	      	</div>

	      	<div class="tab-pane" id="users">
	      		{% include 'admin/blocks/users/users.html.twig' %}
	      	</div>
	  	</div>

	    <div class="loader">
	        <div class="line"></div>
	        <div class="line"></div>
	        <div class="line"></div>
	        <div class="line"></div>
	    </div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?jsqueeze'
        'bundles/app/js/admin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
