<ul class="nav nav-pills nav-justified">
  	<li class="active alert alert-success">
  		<a href="#valid" data-toggle="tab">
  			<div>
      			{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-green-owl.png' %}
					<img src="{{ asset_url }}" alt="{{ 'core.profile.observations.content.valid'|trans }}" />
				{% endimage %}
  			</div>

  			<div>
  				{{ 'core.profile.observations.content.valid'|trans|upper }}
  			</div>
  		</a>
  	</li>

  	<li class="alert alert-info">
  		<a href="#waiting" data-toggle="tab">
  			<div>
  				{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-blue-owl.png' %}
					<img src="{{ asset_url }}" alt="{{ 'core.profile.observations.content.waiting'|trans }}" />
				{% endimage %}
			</div>
  			
  			<div>
  				{{ 'core.profile.observations.content.waiting'|trans|upper }}
  			</div>
  		</a>
  	</li>
  	
  	<li class="alert alert-danger">
  		<a href="#refused" data-toggle="tab">
  			<div>
  				{% image 'http://fhuszti.com.s3.amazonaws.com/nao/profile/profile-red-owl.png' %}
					<img src="{{ asset_url }}" alt="{{ 'core.profile.observations.content.refused'|trans }}" />
				{% endimage %}
			</div>
  			
  			<div>
  				{{ 'core.profile.observations.content.refused'|trans|upper }}
  			</div>
  		</a>
  	</li>
</ul>
