{{ form_start(form, {
	'method': 'post',
	'action': path('fos_user_change_password'),
	'attr': {
		'class': 'fos_user_change_password form-horizontal',
        'id': 'profile_edit-pass-form'
	}
}) }}
    {% if form_errors(form.current_password) %}
        {{ form_errors(form.current_password) }}
    {% endif %}
    {% if form_errors(form.plainPassword.first) %}
        {{ form_errors(form.plainPassword.first) }}
    {% endif %}
    {% if form_errors(form.plainPassword.second) %}
        {{ form_errors(form.plainPassword.second) }}
    {% endif %}
    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}

    <div class="form-group">
        {{ form_label(form.current_password) }}
        <div class="col-sm-8">
        	{{ form_widget(form.current_password) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        <div class="col-sm-8">
        	{{ form_widget(form.plainPassword.first) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        <div class="col-sm-8">
        	{{ form_widget(form.plainPassword.second) }}
        </div>
    </div>
{{ form_end(form) }}
