<div class="col-xs-12 col-sm-6 col-md-4 home-block">
	<a href="{{ path('core_home') }}" title="{{ 'core.header.observation.link'|trans }}">
    	<div class="col-xs-12 alert alert-info">
    		{% image 'http://assets.fhuszti.tech/nao/second-menu/observation.png' %}
                <img src="{{ asset_url }}" alt="{{'core.header.observation.link'|trans}}" />
            {% endimage %}
    	</div>
    	<div class="col-xs-12 home-block-content">
    		<h3>{{ 'core.home.observation.title'|trans }}</h3>

    		<p>
    			{{ 'core.home.observation.text'|trans }}
    		</p>
    	</div>
	</a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 home-block">
	<a href="{{ path('core_home') }}" title="{{ 'core.header.project.link'|trans }}">
    	<div class="col-xs-12 alert alert-info">
    		{% image 'http://assets.fhuszti.tech/nao/second-menu/project.png' %}
                <img src="{{ asset_url }}" alt="{{'core.header.project.link'|trans}}" />
            {% endimage %}
    	</div>
    	<div class="col-xs-12 home-block-content">
    		<h3>{{ 'core.home.project.title'|trans }}</h3>

    		<p>
    			{{ 'core.home.project.text'|trans }}
    		</p>
    	</div>
	</a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 home-block">
	<a href="{{ path('core_home') }}" title="{{ 'core.header.search.link'|trans }}">
    	<div class="col-xs-12 alert alert-info">
    		{% image 'http://assets.fhuszti.tech/nao/second-menu/search.png' %}
                <img src="{{ asset_url }}" alt="{{'core.header.search.link'|trans}}" />
            {% endimage %}
    	</div>
    	<div class="col-xs-12 home-block-content">
    		<h3>{{ 'core.home.search.title'|trans }}</h3>

    		<p>
    			{{ 'core.home.search.text'|trans }}
    		</p>
    	</div>
	</a>
</div>

<div class="col-xs-12 col-sm-6{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} col-md-5 col-md-push-1{% else %} col-md-4{% endif %} home-block">
	<a href="{{ path('core_home') }}" title="{{ 'core.header.contact.link'|trans }}">
    	<div class="col-xs-12 alert alert-info">
    		{% image 'http://assets.fhuszti.tech/nao/second-menu/contact.png' %}
                <img src="{{ asset_url }}" alt="{{'core.header.contact.link'|trans}}" />
            {% endimage %}
    	</div>
    	<div class="col-xs-12 home-block-content">
    		<h3>{{ 'core.home.contact.title'|trans }}</h3>

    		<p>
    			{{ 'core.home.contact.text'|trans }}
    		</p>
    	</div>
	</a>
</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	<div class="col-xs-12 col-md-5 col-md-push-1 home-block" id="home_block-profile">
		<a href="{{ path('core_home') }}" title="{{ 'core.header.profile.link'|trans }}">
	    	<div class="col-xs-12 alert alert-info">
	    		{% image 'http://assets.fhuszti.tech/nao/second-menu/profile.png' %}
                    <img src="{{ asset_url }}" alt="{{'core.header.profile.link'|trans}}" />
                {% endimage %}
	    	</div>
	    	<div class="col-xs-12 home-block-content">
	    		<h3>{{ 'core.home.profile.title'|trans }}</h3>

	    		<p>
	    			{{ 'core.home.profile.text'|trans }}
	    		</p>
	    	</div>
    	</a>
	</div>
{% else %}
	<div class="col-xs-12 col-sm-6 col-md-4 home-block">
		<a href="{{ path('core_home') }}" title="{{ 'core.header.registration.link'|trans }}">
	    	<div class="col-xs-12 alert alert-info">
	    		{% image 'http://assets.fhuszti.tech/nao/second-menu/register.png' %}
                    <img src="{{ asset_url }}" alt="{{'core.header.registration.link'|trans}}" />
                {% endimage %}
	    	</div>
	    	<div class="col-xs-12 home-block-content">
	    		<h3>{{ 'core.home.register.title'|trans }}</h3>

	    		<p>
	    			{{ 'core.home.register.text'|trans }}
	    		</p>
	    	</div>
    	</a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 home-block">
		<a href="{{ path('core_home') }}" title="{{ 'core.header.login.link'|trans }}">
	    	<div class="col-xs-12 alert alert-info">
	    		{% image 'http://assets.fhuszti.tech/nao/second-menu/login.png' %}
                    <img src="{{ asset_url }}" alt="{{'core.header.login.link'|trans}}" />
                {% endimage %}
	    	</div>
	    	<div class="col-xs-12 home-block-content">
	    		<h3>{{ 'core.home.login.title'|trans }}</h3>

	    		<p>
	    			{{ 'core.home.login.text'|trans }}
	    		</p>
	    	</div>
    	</a>
	</div>
{% endif %}
