{% form_theme form 'form/form_errors.html.twig' %}

{{ form_start(form, {
	'method': 'post',
	'action': action,
	'attr': {
		'class': 'form-horizontal',
		'id': 'observationForm',
        'role': 'form'
	}
}) }}
    {% if form_errors(form.bird) %}
        {{ form_errors(form.bird) }}
    {% endif %}
    {% if form_errors(form.date) %}
        {{ form_errors(form.date) }}
    {% endif %}
    {% if form_errors(form.comment) %}
        {{ form_errors(form.comment) }}
    {% endif %}
    {% if form_errors(form.image) %}
        {{ form_errors(form.image) }}
    {% endif %}
    {% if form_errors(form.longitude) %}
        {{ form_errors(form.longitude) }}
    {% endif %}
    {% if form_errors(form.lattitude) %}
        {{ form_errors(form.lattitude) }}
    {% endif %}
    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}

    <div class="form-group">
        {{ form_label(form.bird) }}
        <div class="col-sm-8">
            {{ form_widget(form.bird) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.date) }}
        <div class="col-sm-8 margin-top-element">
            {{ form_widget(form.date) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.comment) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        <div class="col-sm-8 margin-top-element">
            {{ form_widget(form.image) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_widget(form.longitude) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.lattitude) }}
    </div>
{{ form_end(form) }}
