<div class="col-xs-12 nao_title">
	<div class="col-xs-10 col-sm-6">
		<h1>{{ 'core.login.title'|trans|upper }}</h1>
	</div>

	<div class="hidden-xs col-sm-2 nao_title-icon">
	{% image 'http://assets.fhuszti.tech/nao/second-menu/login.png' %}
			<img src="{{ asset_url }}" alt="{{ 'core.second-menu.login'|trans }}" />
		{% endimage %}
	</div>
</div>

<div class="col-xs-12" id="login_content">
	<div id="login_btn-register" class="row">
		<a href="{{ path('fos_user_registration_register') }}" title="{{ 'core.login.register_button'|trans }}" class="btn btn-info">
			{{ 'core.login.register_button'|trans }}
		</a>
	</div>

	{% if error %}
	    <div class="alert alert-warning login_error">
	    	{{ error.messageKey|trans(error.messageData, 'security') }}
	    </div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
	    {% if csrf_token %}
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    {% endif %}

	    <div class="form-group">
		    <label for="username" class="col-sm-4 control-label">{{ 'core.login.email.label'|trans }}</label>
		    <div class="col-sm-8">
		    	<input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'core.login.email.placeholder'|trans }}" required="required" class="form-control input-lg" />
		    </div>
	    </div>

	    <div class="form-group">
		    <div class="col-sm-4" id="login_pass-label-group">
		    	<label for="password" class="control-label">
		    		{{ 'core.login.password.label'|trans }}
		    	</label>
		    	<div data-toggle="modal" href="#login_forgotten-pass-modal" id="login_forgotten-pass-link">
					<a id="login_forgotten-link" data-action="{{ path('fos_user_resetting_request') }}">{{ 'core.login.forgotten_pass'|trans }}</a>
				</div>
		    </div>
		    <div class="col-sm-8">
		    	<input type="password" id="password" name="_password" placeholder="{{ 'core.login.password.placeholder'|trans }}" required="required" class="form-control input-lg" />
		    </div>
	    </div>

		<div class="form-group" id="login_remember-group">
	    	<label for="remember_me">{{ 'core.login.remember_me'|trans }}</label>
	    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		</div>
	    
	    <div class="form-group" id="login_submit-group">
	    	<input type="submit" id="_submit" name="_submit" value="{{ 'core.login.submit'|trans }}" class="btn btn-info btn-lg" />
	    </div>

	</form>

	<div class="modal fade" id="login_forgotten-pass-modal">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">x</button>
		        	<h4 class="modal-title">{{ 'core.login.modal.title'|trans }}</h4>
		        </div>
		      	
		      	<div class="modal-body" id="login_forgotten-pass-modal-body">
		      		<!-- filled with AJAX -->
		      	</div>

		    </div>
	  	</div>
	</div>

	<div id="login_bird" class=""></div>
</div>
