
{% extends 'layout.html.twig' %}
{% set homepage = true %}
{% import "macros/_macroMetaTags.html.twig" as macroMetaTags %}

{% set meta_title %}{{'core.observation.meta_title'|trans}}{% endset %}

{% set meta_description %}
{{'core.observation.meta_description'|trans}}
{% endset %}

{% set meta_url %}
{{ url('core_observation') }}
{% endset %}

{% block title %}
    {{ meta_title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ macroMetaTags.meta_tags(meta_title, meta_description, meta_url ) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp'
        'bundles/app/css/observation.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body  %}
<div class="col-xs-12 nao_title">
    <div class="col-xs-10 col-sm-8 col-md-6">
        <h1>{{'core.observation.title'|trans}}</h1>
    </div>

    <div class="hidden-xs col-sm-2 nao_title-icon">
        {% image 'http://assets.fhuszti.tech/nao/second-menu/observation.png' %}
            <img src="{{ asset_url }}" alt="" />
        {% endimage %}
    </div>
</div>

<div class="col-xs-12" id="observation_content">

</div>
{% endblock %}